{% load staticfiles %}

{% load static %}
{{ form.media }}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Homepage</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Arapey" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{% static 'css/signin.css' %}">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>

        <!-- (Optional) Latest compiled and minified JavaScript translation files -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/i18n/defaults-*.min.js"></script>
    </head>
    <body>
		<div class="container mrg">
			<div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-12 col-xs-12 text-center">
				<h1 class="col-lg-12">Welcome to MailBuddy</h1>
				<div class="col-lg-12" style="margin: 10px;">
					<a href="{% url 'chimp:login' %}" style="margin-right:10px;">
						<button class="btn btn-warning" type="button" name="button">Sign-In</button>
					</a>
					<a href="{% url 'chimp:registration' %}">
						<button class="btn btn-warning" type="button" name="button">Sign-Up</button>
					</a>
				</div>
			</div>
			<div class="col-lg-8 col-lg-offset-2">
					{% for template in templatelist_list %}
					<div class="col-lg-4 text-center" style="color:#fff;">
						<h4>{{template.template_name}}</h4>
						<img class="img-responsive" style="height: 60vH;" src={{MEDIA_URL}}{{template.image}}>
					</div>
					{% endfor %}
			</div>
		</div>
        <div class="back col-lg-12">
            <img class="img-responsive" src="{% static 'image/background.jpg' %}" alt="background">
        </div>
    </body>
</html>
